body, html {
  height: 100%
}

body {
  position: relative;
  margin: 0;
  text-align: center;
  font-family: Montserrat, sans-serif;
  width: 100%;
  top: -15px;
  overflow-x: hidden
}

.no-scroll {
  overflow: hidden;
  position: fixed
}

.nav {
  display: block;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition: opacity .9s, visibility .9s
}

.nav>a {
  display: inline-block;
  color: hsla(0, 0%, 100%, .8);
  font-weight: 700;
  font-size: 20px;
  padding: 30px 10px 10px;
  text-decoration: none
}

.nav>a:hover {
  color: #fff
}

.nav.hidden {
  margin-top: -50px
}

.nav.show {
  opacity: 1;
  visibility: visible
}

#heading {
  background-size: cover;
  background-position: 50%;
  position: relative;
  float: none;
  width: 100%;
  height: 100%;
  z-index: 0
}

.content {
  color: #fff;
  text-align: center
}

.home-header {
  color: #fff;
  z-index: 1;
  vertical-align: middle;
  overflow-x: hidden
}

.headerIcon {
  height: 80px;
  width: 80px;
  margin: 75px auto -140px;
  border: 2px solid;
  transform: rotate(45deg)
}

.initials {
  transform: rotate(-45deg);
  font-size: 40px;
  margin-top: 16px;
  font-weight: 100
}

.button>div {
  display: inline-block
}

.btn {
  background-color: transparent;
  width: 170px;
  padding: 10px;
  margin-left: -5px;
  margin-right: -5px;
  font-weight: 700
}

.btn>a {
  color: hsla(0, 0%, 100%, .75);
  text-decoration: none;
  transition: all .6s
}

.btn>a:hover {
  color: #fff
}

.btn>a>span {
  font-weight: 400;
  letter-spacing: 1px
}

.home-header>h1 {
  font-size: 40px;
  font-weight: 100;
  margin-top: 170px;
  letter-spacing: 10px
}

.home-header>p {
  margin-bottom: 30px;
  font-weight: 100;
  font-size: 25px;
  letter-spacing: 5px
}

.home-header.hideNav {
  margin-top: 50px
}

.homeIcon {
  display: block!important;
  line-height: 70px!important;
  font-size: 35px!important
}

canvas {
  display: block;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%
}

.background, canvas {
  position: fixed;
  z-index: -2
}

.background {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  will-change: opacity;
  transition: opacity .6s
}

.background.contact {
  background: linear-gradient(rgba(0, 180, 193, .5), rgba(0, 69, 115, .45)), url(/images/starmountain.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 65%;
  will-change: opacity;
  opacity: 0
}

.background.about {
  background: linear-gradient(rgba(128, 0, 193, .5), rgba(0, 69, 115, .45)), url(/images/starmountain.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 65%;
  will-change: opacity;
  opacity: 0
}

.background.projects {
  background: linear-gradient(rgba(0, 11, 193, .5), rgba(0, 69, 115, .45)), url(/images/starmountain.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 65%;
  will-change: opacity;
  opacity: 0
}

.background.home {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 69, 115, .45)), url(/images/starmountain.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 65%;
  will-change: opacity;
  opacity: 1
}

.background.show {
  will-change: opacity;
  opacity: 1
}

.background.show, .mountain {
  background-size: cover;
  background-position: 50% 65%
}

.mountain {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: -1
}

.mountainHome {
  background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 69, 115, .1)), url(/images/mountain.png) no-repeat;
  opacity: 1;
  background-size: cover;
  background-position: 50% 65%
}

.mountain.show {
  background-size: cover;
  opacity: 1;
  background-position: 50% 65%
}

.mountain.hidden {
  margin-top: 150%
}

.panel {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1;
  left: 0;
  top: 100%;
  -webkit-transform: translate(0);
  transform: translate(0);
  -webkit-transition: -webkit-transform .6s cubic-bezier(.42, .42, .18, 1.15);
  transition: transform .6s cubic-bezier(.42, .42, .18, 1.15)
}

.panel, .panel.showDiv {
  will-change: -o-transform, -webkit-transform, -moz-transform, transform
}

.panel.showDiv {
  -webkit-transform: translateY(calc(-100% + 50px));
  transform: translateY(-100%) translateY(50px)
}

.scrollDiv {
  position: absolute;
  background: #f7f8ff;
  top: 0;
  left: 0;
  bottom: 35px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch
}

.scrollDiv>h1 {
  margin-top: 35px;
  margin-bottom: -10px;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 5px;
  margin-bottom: 25px
}

.scrollDiv>h3 {
  font-weight: 100;
  font-size: 20px;
  margin-bottom: 50px
}

.displayShow {
  display: block
}

.displayHide {
  display: none
}

.projectPanel {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1;
  left: 0;
  top: 435px;
  transform: translate(100%, -385px);
  -webkit-transform: translate(100%, -385px);
  -moz-transform: translate(100%, -385px);
  transition: transform .6s cubic-bezier(.42, .42, .18, 1.15);
  -webkit-transition: -webkit-transform .6s cubic-bezier(.42, .42, .18, 1.15);
  -moz-transition: transform .6s cubic-bezier(.42, .42, .18, 1.15)
}

.projectPanel.showDiv {
  transform: translateY(-385px);
  -webkit-transform: translateY(-385px);
  -moz-transform: translateY(-385px);
  will-change: transform, -o-transform, -webkit-transform, -moz-transform
}

.project {
  height: 310px;
  width: 300px;
  text-align: left;
  display: inline-block;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  border: solid;
  border-width: 1px;
  border-color: #2c3641
}

.project>a {
  height: 100%;
  width: 100%
}

.project-svg {
  height: 130px!important;
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 100px!important
}

.projectDiv {
  height: 100%;
  width: 100%
}

.project:hover {
  border-color: #3fc9e1;
  transition: border-color .4s ease-in-out .25s
}

.text {
  padding-left: 25px;
  color: #fff
}

.type {
  color: #0ff
}

.title {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 700
}

.listDescription, .listTech, .read {
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  opacity: 0;
  transition: all .1s ease-in-out 0s;
  margin-top: 40px
}

.overlay {
  height: 100%;
  width: 100%;
  font-size: 13px;
  background: rgba(0, 23, 43, .5);
  opacity: 1;
  display: inline-block;
  z-index: -1;
  transition: background .4s ease-in-out 0s
}

.arrows {
  color: #f7672c;
  position: absolute;
  margin-top: -30px;
  margin-left: 22px;
  letter-spacing: 2px;
  font-size: 15px
}

#gameoflife {
  background: url(/images/gol/gol.png);
  background-size: cover;
  background-position: 50%
}

#dungeon {
  background: url(/images/dungeon/dungeon.png);
  background-size: cover;
  background-position: 50%
}

#stock {
  background: url(/images/stock/stock.jpg);
  background-size: cover;
  background-position: 50%
}

#votetrix {
  background: url(/images/votetrix/vote.jpg);
  background-size: cover;
  background-position: 50%
}

#nightlite {
  background: url(/images/nightlite/night.jpg);
  background-size: cover;
  background-position: 50%
}

#bookswap {
  background: url(/images/bookswap/book.jpg);
  background-size: cover;
  background-position: 50%
}

#architect {
  background: url(/images/architect/pitt.jpg);
  background-size: cover;
  background-position: 30%
}

#api {
  background: url(/images/apiimages/api.jpg);
  background-size: cover;
  background-position: 30%
}

#api:hover .overlay, #architect:hover .overlay, #bookswap:hover .overlay, #dungeon:hover .overlay, #gameoflife:hover .overlay, #nightlite:hover .overlay, #stock:hover .overlay, #votetrix:hover .overlay {
  background: rgba(0, 23, 43, .8);
  transition: background .4s ease-in-out .1s
}

#api:hover .listDescription, #architect:hover .listDescription, #bookswap:hover .listDescription, #dungeon:hover .listDescription, #gameoflife:hover .listDescription, #nightlite:hover .listDescription, #stock:hover .listDescription, #votetrix:hover .listDescription {
  width: 85%;
  padding-left: 50px;
  opacity: 1;
  transition: all .25s ease-out .25s
}

#api:hover .listTech, #architect:hover .listTech, #bookswap:hover .listTech, #dungeon:hover .listTech, #gameoflife:hover .listTech, #nightlite:hover .listTech, #stock:hover .listTech, #votetrix:hover .listTech {
  width: 85%;
  padding-left: 50px;
  opacity: 1;
  transition: all .25s ease-out .4s
}

#api:hover .read, #architect:hover .read, #bookswap:hover .read, #dungeon:hover .read, #gameoflife:hover .read, #nightlite:hover .read, #stock:hover .read, #votetrix:hover .read {
  width: 85%;
  padding-left: 50px;
  opacity: 1;
  transition: all .25s ease-out .6s
}

.scrollDiv>a {
  margin-top: -100px;
  position: absolute;
  left: 0;
  right: 0
}

.project-images, .scrollDiv>a {
  margin-left: auto;
  margin-right: auto
}

.project-images {
  max-width: 900px;
  margin-bottom: 100px
}

.project-images>img {
  margin: 12.5px;
  border: solid;
  border-width: 3px;
  border-radius: 3px;
  border-color: #e0e0e0;
  height: 160px;
  cursor: pointer;
  transition: border-color .9s
}

.project-images>img:hover {
  border-color: #000bc1
}

.projectImage {
  width: 100%;
  border: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: #e0e0e0;
  transition: border-color .9s
}

.projectImage:hover {
  border-color: #000bc1
}

.container {
  padding-left: 15px;
  padding-right: 15px
}

#projectList, .container {
  margin-left: auto;
  margin-right: auto
}

#projectList {
  list-style: none;
  padding-left: 0;
  margin-top: 20px
}

.return {
  position: absolute;
  top: 20px;
  right: 75px
}

.down-arrow {
  font-size: 25px!important;
  color: #bbb!important;
  transition: color .2s!important
}

.codeBtn {
  background-color: transparent;
  color: #000bc1;
  border: 1px solid;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px
}

.codeBtn, .codeBtn:hover {
  transition: background .5s, color .5s
}

.codeBtn:hover {
  background: #000bc1;
  color: #fff
}

.project-down:hover {
  color: #000bc1!important
}

.about-down:hover {
  color: #8000c1!important
}

.contact-down:hover {
  color: #00b4c1!important
}

.projectNav {
  color: #bbb!important;
  font-size: 22px!important;
  transition: color .2s!important
}

.projectNav:hover {
  color: #000bc1!important
}

.arrow {
  position: relative;
  display: block
}

.titleBar {
  position: absolute;
  z-index: 9999;
  height: 50px;
  width: 100%;
  background: hsla(0, 0%, 100%, .9);
  border-bottom: 1px solid #000bc1;
  -webkit-backface-visibility: hidden
}

.titleContainer {
  margin-left: auto;
  margin-right: auto
}

.prjBtns, .titleContainer {
  width: 90%;
  max-width: 900px
}

.prjBtns {
  position: absolute
}

.prjTitle {
  color: #000bc1;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 700
}

.next {
  float: right;
  margin-top: 0
}

.previous {
  float: left;
  margin-top: 0
}

.icon {
  width: 250px;
  margin-top: 60px
}

.description {
  width: 90%;
  max-width: 900px;
  margin: -10px auto 10px;
  line-height: 200%;
  font-size: 19px;
  font-weight: 200;
  text-align: left
}

.codeLink {
  width: 325px;
  min-height: 25px;
  margin-left: auto;
  margin-right: auto
}

.penLink {
  color: #000bc1;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px!important
}

.api-CodeLink {
  max-width: 500px!important;
  min-height: 100px;
  margin-right: auto;
  margin-left: auto
}

.api-left {
  text-align: left!important;
  float: left
}

.api-right {
  text-align: right!important;
  float: right
}

.api-left>p>a, .api-right>p>a {
  color: #000bc1;
  text-decoration: none;
  font-weight: 700
}

.cLink {
  float: left
}

.dLink {
  float: right
}

.pLink {
  float: none
}

#largeImageDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  padding-top: 50px;
  top: -14px;
  transition: opacity .5s;
  background: rgba(0, 0, 0, .35)
}

#imageDiv {
  max-width: 70%;
  max-height: 70%
}

.liText {
  color: #fff;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: -2px
}

.showImage {
  display: block
}

.hideImage {
  display: none!important
}

#spinner {
  position: absolute;
  margin-top: 100px;
  margin-left: -40px
}

#spinner, .hideLoader {
  transition: opacity .2s ease-in-out
}

.hideLoader {
  opacity: 0
}

.showLoader {
  opacity: 1;
  transition: opacity .2s ease-in-out
}

.contactForm {
  width: 70%;
  max-width: 900px;
  font-size: 15px;
  border-radius: 5px;
  margin: 50px auto 15px;
  text-align: left
}

.label {
  font-size: 16px;
  position: absolute;
  pointer-events: none
}

.emailLabel, .nameLabel {
  position: absolute;
  margin-top: -52px;
  margin-left: 1px;
  transition: all .3s
}

.messageLabel {
  margin-top: -130px;
  margin-left: 2px;
  transition: all .3s
}

.contactForm>.envelopeIcon, .contactForm>.userIcon {
  margin-top: -58px
}

.contactForm>.envelopeIcon, .contactForm>.userIcon, .pencilIcon {
  position: absolute;
  margin-left: -35px;
  width: 25px;
  text-align: center;
  font-size: 25px!important
}

.pencilIcon {
  margin-top: -139px
}

.contactInput {
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0;
  border-bottom: 1px solid #333;
  min-width: 100%;
  margin-bottom: 30px;
  font-size: 16px;
  box-sizing: border-box;
  background: #f7f8ff;
  box-shadow: none!important
}

.contactInput:focus {
  outline: none;
  border-bottom: 1px solid #00b4c1
}

#email:focus~.emailLabel, #name:focus~.nameLabel {
  margin-top: -75px;
  font-size: 13px;
  color: #00b4c1;
  transition: all .3s
}

#email:not(:placeholder-shown)~.emailLabel, #name:not(:placeholder-shown)~.nameLabel {
  margin-top: -75px;
  font-size: 13px
}

#email:focus+.envelopeIcon, #name:focus+.userIcon {
  color: #00b4c1;
  transition: all .3s
}

#message:focus~.messageLabel {
  color: #00b4c1!important;
  transition: all .3s!important
}

#message:focus~.messageLabel, #message:not(:placeholder-shown)~.messageLabel {
  margin-top: -154px!important;
  font-size: 13px!important
}

#message:focus+.pencilIcon {
  color: #00b4c1
}

@supports (-ms-ime-align:auto) {
  .messageLabel {
    margin-top: -154px!important;
    font-size: 13px!important
  }
  .emailLabel, .nameLabel {
    margin-top: -75px!important;
    font-size: 13px!important
  }
}

:root .messageLabel, _:-ms-input-placeholder {
  margin-top: -154px!important;
  font-size: 13px!important
}

:root .emailLabel, :root .nameLabel, _:-ms-input-placeholder {
  margin-top: -75px!important;
  font-size: 13px!important
}

.contactInput.inputText {
  height: 25px
}

.contactInput.message {
  height: 100px;
  resize: none
}

.submitButton {
  float: left;
  background-color: #1a6c88;
  color: #fff;
  border: none;
  width: 150px;
  height: 35px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px;
  transition: background .5s, color .5s
}

.submitButton:hover {
  background: rgba(0, 180, 193, .5);
  color: #000
}

.network {
  width: 80%;
  margin: 70px auto 20px;
  text-align: left
}

.network>.container {
  text-align: center
}

.netBtn {
  background-color: transparent;
  width: 120px;
  padding: 10px;
  margin-left: -5px;
  margin-right: -5px;
  font-weight: 700
}

.netBtn>a {
  color: #1a6c88;
  text-decoration: none;
  transition: all .5s
}

.netBtn>a:hover {
  color: #00b4c1
}

.netBtn>a>span {
  font-weight: 400;
  letter-spacing: 1px
}

.toolbox {
  max-width: 900px!important;
  width: 90%;
  margin: 75px auto 20px;
  text-align: center
}

.toolbox>h3 {
  text-align: left
}

.techList {
  width: 100px;
  margin-bottom: 15px
}

.techList>p {
  font-size: 18px!important;
  font-weight: 200
}

.techH {
  font-weight: 400
}

.techList>svg {
  height: 38px;
  width: 39px;
  fill: #8000c1;
  margin-bottom: -11px
}

.projectTech {
  margin-bottom: 30px;
  margin-top: 50px;
  line-height: 190%;
  font-size: 18px;
  font-weight: 200;
  padding: 0
}

.techList>i {
  color: #8000c1
}

.projectTech>.techList>svg {
  fill: #000bc1!important
}

.prjFont {
  color: #000bc1!important
}

#tooltip {
  position: relative;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  top: -451px;
  padding-top: 1px;
  padding-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  border-radius: 3px;
  box-shadow: 0 0 12px #999;
  z-index: 2;
  transition: opacity .8s, visibility .8s, background-color .8s
}

#tooltip.error {
  background-color: #bd433c
}

#tooltip.success {
  background-color: #499449;
  height: 50px
}

#tooltip.info {
  height: 50px;
  background-color: #1a6c88
}

#tooltip.hide {
  opacity: 0;
  visibility: hidden
}

#tooltip.show {
  opacity: 1;
  visibility: visible
}

.meImage {
  height: 200px;
  border-radius: 100px;
  margin-top: 60px
}

.myName {
  color: #8000c1;
  font-weight: 700!important;
  letter-spacing: 1px!important
}

.aboutSection {
  max-width: 900px!important;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 25px
}

.aboutSection>h3 {
  text-align: left;
  margin-top: 75px
}

.aboutLink {
  color: #8000c1;
  font-weight: 700;
  text-decoration: none
}

.projectLink {
  text-align: center;
  padding-top: 50px;
  font-weight: 700
}

.contactLink, .projectLink {
  font-size: 16px;
  padding-bottom: 50px
}

.contactLink {
  padding-top: 20px
}

.contactLink>a {
  font-weight: 700;
  text-decoration: none;
  color: #000bc1
}

.techTitle {
  margin-bottom: -25px
}

.footer {
  position: absolute;
  right: 0;
  bottom: -58px;
  left: 0;
  text-align: center
}

.fNav {
  bottom: -10px!important
}

.cpwrite {
  color: #696969;
  padding-bottom: 0;
  margin: 0
}

@media (max-width:400px) {
  .btn {
    width: 125px
  }
  .nav>a {
    font-size: 15px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 19px
  }
  .home-header>h1 {
    font-size: 23px;
    letter-spacing: 5px
  }
  .home-header>p {
    font-size: 17px
  }
}

@media (max-width:404px) {
  .overlay {
    font-size: 9px
  }
}

@media (max-width:432px) {
  .myName {
    font-size: 34px!important
  }
  .myTitle {
    font-size: 17px!important;
    margin-bottom: -17px!important
  }
  .penLink {
    font-size: 15px!important
  }
}

@media (max-width:579px) {
  .btn, .netBtn {
    width: 100px
  }
}

@media(max-width:473px) {
  .project {
    width: 80%
  }
  .codeLink {
    width: 250px
  }
}

@media (max-width:673px) and (min-width:474px) {
  .project {
    width: 200px;
    height: 206.66px
  }
  .overlay {
    font-size: 8.66px
  }
  .title {
    font-size: 13px
  }
  #api:hover .listDescription, #api:hover .listTech, #api:hover .read, #architect:hover .listDescription, #architect:hover .listTech, #architect:hover .read, #bookswap:hover .listDescription, #bookswap:hover .listTech, #bookswap:hover .read, #dungeon:hover .listDescription, #dungeon:hover .listTech, #dungeon:hover .read, #gameoflife:hover .listDescription, #gameoflife:hover .listTech, #gameoflife:hover .read, #nightlite:hover .listDescription, #nightlite:hover .listTech, #nightlite:hover .read, #stock:hover .listDescription, #stock:hover .listTech, #stock:hover .read, #votetrix:hover .listDescription, #votetrix:hover .listTech, #votetrix:hover .read {
    padding-left: 33px
  }
  .arrows {
    margin-top: -22px;
    margin-left: 9px
  }
  .read {
    margin-top: 42px
  }
  .listDescription, .listTech {
    margin-top: 35px
  }
}

@media (max-width:768px) {
  #imageDiv {
    max-width: 95%
  }
  .project-images>img {
    height: 120px
  }
  .submitButton {
    width: 100%
  }
  .myName {
    margin-left: 5%;
    margin-right: 5%
  }
  .initials {
    margin-left: 2px;
    margin-top: 12px
  }
  .headerIcon {
    height: 70px;
    width: 70px;
    margin-top: 90px
  }
  .home-header>h1 {
    font-size: 30px;
    letter-spacing: 6px
  }
  .home-header>p {
    font-size: 20px;
    letter-spacing: 4px;
    margin-top: -5px;
    margin-bottom: 15px
  }
  .techList>svg {
    height: 30px!important;
    width: 35px!important;
    margin-bottom: -22px
  }
  .homeIcon {
    line-height: 40px!important;
    font-size: 25px!important
  }
  .btn>a>span {
    font-size: 13px!important
  }
  #tooltip {
    margin-top: 200px
  }
}

@media (min-width:768px) {
  .container {
    width: 750px;
    max-width: 100%
  }
  .headerIcon {
    margin-top: 150px
  }
}

@media (min-width:992px) {
  .container {
    width: 970px;
    max-width: 100%
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
    max-width: 100%
  }
}

@media (max-height:525px) {
  body {
    min-height: 410px
  }
  .headerIcon {
    height: 70px;
    width: 70px;
    margin-top: 57px
  }
  .home-header>h1 {
    font-size: 30px;
    letter-spacing: 7px
  }
  .home-header>p {
    font-size: 20px;
    letter-spacing: 4px;
    margin-top: -5px;
    margin-bottom: 15px
  }
  svg {
    height: 25px;
    margin-bottom: -10px
  }
  .techList>svg {
    height: 30px!important;
    width: 35px!important;
    margin-bottom: -22px
  }
  .homeIcon {
    line-height: 40px!important;
    font-size: 25px!important
  }
  .btn>a>span {
    font-size: 13px!important
  }
  #tooltip {
    margin-top: 200px
  }
}

@media (min-height:526px) {
  body {
    min-height: 571px
  }
}

@media(hover:none) {
  .overlay {
    background: rgba(0, 23, 43, .65)
  }
  .listDescription, .listTech, .read {
    width: 85%;
    padding-left: 50px;
    opacity: 1
  }
}
